@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    padding: 0;
    border: 0;
    color: #000000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Dancing Script", cursive;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

main {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f0f0f0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    font-family:  "Dancing Script", cursive;
    overflow: hidden;
}

.input-area {
  display: flex;
  padding: 10px;
  
}

.input-area input {
  color: #000000;
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top: 1px solid #ddd;
}

.input-area button {
  margin-left: 8px;
  padding: 8px 12px;
  border: none;
  background: #0078d7;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.input-area {
    position: fixed;
    bottom: 16px;
    left: 16px;
    right: 16px;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.message {
    color: #000000;
    position: relative;
    max-width: 70%;
    padding: 1rem 1.4rem;
    background: white;
    border-radius: 20px;
    font-size: 1.2rem;
    box-shadow: 0 3px 7px rgba(0,0,0,0.15);
}

.message.user {
    align-self: flex-end;
}
.message.bot {
    align-self: flex-start;
}

.message::after {
    content: "";
    position: absolute;
    bottom: -12px;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 3px 7px rgba(0,0,0,0.15);
}

.message::before {
    content: "";
    position: absolute;
    bottom: -28px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 3px 7px rgba(0,0,0,0.15);
}

.message.user::after { left: 25px; }
.message.user::before { left: 40px; }

.message.bot::after { right: 25px; }
.message.bot::before { right: 40px; }

